
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    
}

/* Signup container */
.signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

/* Signup form */
.signup-form {
    background: #fff;
    padding: 35px 30px;
    width: 380px;
    border-radius: 14px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
}

.signup-form h1 {
    text-align: center;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

/* Inputs */
.input-box {
    margin-bottom: 18px;
}

.input-box label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #eef3ff;
}

/* Button */
.signup-btn {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-btn:hover {
    background: #1e4ed8;
}

/* Footer fix */
footer {
    width: 100%;
    margin-top: 50px !important;
    display: block !important;
}
